<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>965402678086-217lin9e3pldsit740r2plqbscce57ee.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.965402678086-217lin9e3pldsit740r2plqbscce57ee</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>965402678086-5kr8kkngeqj4k7n3dfia02ootkiv7j4g.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyBjt5b8X6eeRYdiuebde99Yn-rB4idBwVo</string>
    <key>GCM_SENDER_ID</key>
    <string>965402678086</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.whosin.me</string>
    <key>PROJECT_ID</key>
    <string>whosin-f3352</string>
    <key>STORAGE_BUCKET</key>
    <string>whosin-f3352.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:965402678086:ios:dbea0c4dfe162766ad4b47</string>
</dict>
</plist>
