<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.965402678086-217lin9e3pldsit740r2plqbscce57ee</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb270331988653055</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>whosInApp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>ngenius.com.whosin.me</string>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GIDClientID</key>
	<string>965402678086-217lin9e3pldsit740r2plqbscce57ee.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whosInApp</string>
		<string>fb</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>whatsapp</string>
		<string>comgooglemaps</string>
		<string>comgooglemaps-x-callback</string>
		<string>snapchat</string>
		<string>youtube</string>
		<string>google</string>
		<string>snssdk1128</string>
		<string>instagram</string>
		<string>waze</string>
		<string>ngenius</string>
        <string>whatsapp</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>aed-Regular.otf</string>
		<string>SFUIText-Bold.ttf</string>
		<string>SFUIText-BoldItalic.ttf</string>
		<string>SFUIText-Heavy.ttf</string>
		<string>SFUIText-HeavyItalic.ttf</string>
		<string>SFUIText-Light.ttf</string>
		<string>SFUIText-LightItalic.ttf</string>
		<string>SFUIText-Medium.ttf</string>
		<string>SFUIText-MediumItalic.ttf</string>
		<string>SFUIText-Regular.ttf</string>
		<string>SFUIText-RegularItalic.ttf</string>
		<string>SFUIText-Semibold.ttf</string>
		<string>SFUIText-SemiboldItalic.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-BlackItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-ExtraLightItalic.ttf</string>
		<string>Montserrat-Italic-VariableFont_wght.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-SemiBoldItalic.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-ThinItalic.ttf</string>
		<string>Montserrat-VariableFont_wght.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>com.apple.developer.pass-type-identifiers</key>
	<string>pass.com.whosin.me</string>
</dict>
</plist>
