<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AtOnce.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
				<key>dateExpires</key>
				<string>06/06/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>5.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BKMoneyKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>3.8.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>25.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DZNEmptyDataSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DialCountries.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ESPullToRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>2.9.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FSPagerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>10.25.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>10.25.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>10.25.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>10.25.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>10.25.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>10.25.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfigInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSessions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>10.25.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GSKStretchyHeaderView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>9.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GooglePlacesSearchController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>7.13.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainAccess.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LanguageManager_iOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MoyasarSdk.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>4.4.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PINCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PINOperation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PanModal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Promises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>5.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>5.7.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftLocation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TPKeyboardAvoiding.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TagListView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libPhoneNumber_iOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.15</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>843EA036347B5FF6243EAE31F7B966B391714DB0</string>
						<key>dateExpires</key>
						<string>06/06/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8SRD92L86</string>
						<key>name</key>
						<string>Deepak Jadon</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30910.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>F8SRD92L86.com.nyotek.atonce.dev</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>F8SRD92L86</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>AtOnce.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c59c846a-58ea-4e4f-906b-6f9f5894fdff</string>
				<key>dateExpires</key>
				<string>24/06/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.nyotek.atonce.dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>F8SRD92L86</string>
				<key>name</key>
				<string>Deepak Jadon</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
